// $cpxYellow: #FFE500;
// $cpxBlack: #040602;
// $cpxWhite: #FFFFFF;
// $size12: 12px;
// $size14: 14px;
// $size16: 16px;
// $size18: 18px;
// $size20: 20px;
// $size22: 22px;
// $size24: 24px;
// $fulldisplay: 100vh;
// $quarterdisplay: 75vh;
// $halfdisplay: 50vh;
// $tinydisplay: 400px;
// $cpxShadow: 0 0.4rem 0.6rem 0 rgba(129, 129, 130, 0.23);

$blue: #78D5E4;
$white: #fff;
$black: #000000;
$grey: #C4C4C4;

// blue class
.bg-blue{
    background-color: $blue;
}
.txt-blue{
    color: $blue;
}
.border-blue{
    border-color: $blue;
}
.outline-blue{
    -webkit-text-stroke: 1px $blue;
}
.hover-txt-blue{
    &:hover{
        color: $blue !important;
    }
}
.hover-bg-blue{
    &:hover{
        background-color: $blue !important;
    }
}
// white class
.bg-white{
    background-color: $white;
}
.txt-white{
    color: $white;
}
.border-white{
    border-color: $white;
}
.outline-white{
    -webkit-text-stroke: 1px $white;
}
// black class
.bg-black{
    background-color: $black;
}
.txt-black{
    color: $black;
}
.border-black{
    border-color: $black;
}
.outline-black{
    -webkit-text-stroke: 1px $black;
}
// grey class
.bg-grey{
    background-color: $grey;
}
.txt-grey{
    color: $grey;
}
.border-grey{
    border-color: $grey;
}
.outline-grey{
    -webkit-text-stroke: 1px $grey;
}