$cpxYellow: #FFE500;
$cpxBlack: #040602;
$cpxWhite: #FFFFFF;
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$fulldisplay: 100vh;
$quarterdisplay: 75vh;
$halfdisplay: 50vh;
$tinydisplay: 400px;
$cpxShadow: 0 0.4rem 0.6rem 0 rgba(129, 129, 130, 0.23);