.bg-blue {
  background-color: #78D5E4;
}

.txt-blue {
  color: #78D5E4;
}

.border-blue {
  border-color: #78D5E4;
}

.outline-blue {
  -webkit-text-stroke: 1px #78D5E4;
}

.hover-txt-blue:hover {
  color: #78D5E4 !important;
}

.hover-bg-blue:hover {
  background-color: #78D5E4 !important;
}

.bg-white {
  background-color: #fff;
}

.txt-white {
  color: #fff;
}

.border-white {
  border-color: #fff;
}

.outline-white {
  -webkit-text-stroke: 1px #fff;
}

.bg-black {
  background-color: #000000;
}

.txt-black {
  color: #000000;
}

.border-black {
  border-color: #000000;
}

.outline-black {
  -webkit-text-stroke: 1px #000000;
}

.bg-grey {
  background-color: #C4C4C4;
}

.txt-grey {
  color: #C4C4C4;
}

.border-grey {
  border-color: #C4C4C4;
}

.outline-grey {
  -webkit-text-stroke: 1px #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kollektif", sans-serif !important;
}

.c-pointer {
  cursor: pointer;
}

.c-none {
  cursor: default;
}

.up-down {
  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes up-down {
  0% {
    -webkit-transform: translate(1px, 20px);
            transform: translate(1px, 20px);
  }
  24% {
    -webkit-transform: translate(1px, 30px);
            transform: translate(1px, 30px);
  }
  50% {
    -webkit-transform: translate(1px, 12px);
            transform: translate(1px, 12px);
  }
  74% {
    -webkit-transform: translate(1px, 22px);
            transform: translate(1px, 22px);
  }
  100% {
    -webkit-transform: translate(1px, 22px);
            transform: translate(1px, 22px);
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translate(1px, 20px);
  }
  24% {
    -webkit-transform: translate(1px, 30px);
  }
  50% {
    -webkit-transform: translate(1px, 12px);
  }
  74% {
    -webkit-transform: translate(1px, 22px);
  }
  100% {
    -webkit-transform: translate(1px, 22px);
  }
}

.aboutus-section {
  background: url(/assets/plane-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutus-section .title {
  padding: 5px 0;
}

.aboutus-section .title::before {
  content: "Get To Know Us";
  width: 25%;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #C4C4C4;
  border-radius: 0 0 10px 10px;
  margin-top: 10px;
}

.aboutus-section .page-title {
  width: 20%;
  border-radius: 0 0 10px 10px;
}

.whyus .title {
  padding: 5px 0;
}

.whyus .title::before {
  content: "Why Us";
  width: 25%;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border-radius: 0 0 10px 10px;
  margin-top: 10px;
}
/*# sourceMappingURL=styles.css.map */