@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kollektif", sans-serif !important;
  }

.c-pointer{
    cursor: pointer;
}

.c-none{
    cursor: default;
}

@import './home';
// @import './aboutus';

// button{
//   padding: 15px 50px;
//   background-color: $cpxYellow;
//   color: $cpxBlack;
//   font-weight: 600;
//   border-radius: 5px;
//   font-size: $size14;
//   border: none;
//   box-shadow: $cpxShadow;
// }

// h1{
//   // font-family: Lato;
//   font-size: 36px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: 43px;
//   // letter-spacing: 0em;
//   text-align: center;

// }

// h2{
//   font-size: $size18;
// }

// input, textarea{
//   border-radius: 5px;
//   border: 1px solid lightgray;  
//   padding: 15px 25px;
// }

// .carousel-indicators{
//   li{
//     background-color: $cpxBlack;
//   }
//   .active{
//     background-color: $cpxYellow;
//   }
// }

// .carousel-control-next-icon{
//   background-image: url('/assets/img/chevron-right.svg');
// }

// .carousel-control-prev-icon{
//   background-image: url('/assets/img/chevron-left.svg');
// }

// @import './landing';
// @import './aboutus';
// @import './service';
// @import './technology';
// @import './locations';
// @import './contactus';
// @import './footer';